.image--cover {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.nav-item .img {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.select2-container .select2-selection--single {
  height: 58px !important;
  border-radius: 10px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 50px !important;
}
